	#NET "clk50in" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clock" 		LOC = "A8";



NET "rgBtn<0>"  LOC = "J13"  ;
NET "rgBtn<1>"  LOC = "K14"  ;
NET "rgBtn<2>"  LOC = "K13"  ;
NET "rgBtn<3>"  LOC = "K12"  ;


NET "led_out<0>" 	LOC = "L14";
NET "led_out<1>" 	LOC = "L13";
NET "led_out<2>" 	LOC = "M14";
NET "led_out<3>" 	LOC = "L12";
NET "led_out<4>" 	LOC = "N14";
NET "led_out<5>" 	LOC = "M13";
NET "led_out<6>" 	LOC = "P14";
NET "led_out<7>" 	LOC = "R16";
NET "OE"	LOC = "K2";
NET "WE"    LOC = "T3";
NET "MT_CE" LOC = "K1";
NET "STS"   LOC = "R4";
NET "RP"    LOC = "T4";
NET "CE"    LOC = "E4";
NET "Addr_out<22>" LOC = "C3";
NET "Addr_out<21>" LOC = "A3";
NET "Addr_out<20>" LOC = "M4";
NET "Addr_out<19>" LOC = "D3";
NET "Addr_out<18>" LOC = "G5";
NET "Addr_out<17>" LOC = "H3";
NET "Addr_out<16>" LOC = "G4";
NET "Addr_out<15>" LOC = "L4";
NET "Addr_out<14>" LOC = "F3";
NET "Addr_out<13>" LOC = "M3";
NET "Addr_out<12>" LOC = "L5";
NET "Addr_out<11>" LOC = "N3";
NET "Addr_out<10>" LOC = "F5";
NET "Addr_out<9>"  LOC = "F4";
NET "Addr_out<8>"  LOC = "E3";
NET "Addr_out<7>"  LOC = "G3";
NET "Addr_out<6>"  LOC = "K4";
NET "Addr_out<5>"  LOC = "H4";
NET "Addr_out<4>"  LOC = "K3";
NET "Addr_out<3>"  LOC = "J4";
NET "Addr_out<2>"  LOC = "L3";
NET "Addr_out<1>"  LOC = "K5";
NET "Addr_out<0>"  LOC = "J3";
NET "port_data<15>"  LOC = "D2"; 
NET "port_data<14>"  LOC = "E2"; 
NET "port_data<13>"  LOC = "D1"; 
NET "port_data<12>"  LOC = "E1"; 
NET "port_data<11>"  LOC = "F2"; 
NET "port_data<10>"  LOC = "G2"; 
NET "port_data<9>"   LOC = "G1"; 
NET "port_data<8>"   LOC = "H1"; 
NET "port_data<7>"   LOC = "R3"; 
NET "port_data<6>"   LOC = "R1"; 
NET "port_data<5>"   LOC = "P1"; 
NET "port_data<4>"   LOC = "P2"; 
NET "port_data<3>"   LOC = "N1"; 
NET "port_data<2>"   LOC = "N2"; 
NET "port_data<1>"   LOC = "M1"; 
NET "port_data<0>"   LOC = "M2"; 